<h2>This is how to contact me</h2>

<% if @name %>
Your name should be <%= @name %>
<% end %>


<form>
  Your name:
  <input type="text" name="name" />
  
  <input type="submit" />
</form> 


<!DOCTYPE html>
<html>
<body>

<iframe src="demo_iframe.htm"></iframe>

<p>This is an iframe example.</p>

  <p style ="font-family:Italic">Who know?s</p>

</body>
</html>
