<h2>This is how you should contact me</h2>

<% if @name %>
Your name should be <%= @name %>
<% end %>

tristan@rubadeau.com
tristan@rubadeau.com


<form>
  Your name:
  <input type="text" name="name" />
  
  <input type="submit" />
</form> 


<!DOCTYPE html>
<html>
<body>


  <p style ="font-family:Italic">Who know?s</p>

</body>
</html>
