<h1>Hey World</h1>

I think I like this stuff

<ol>
  <li>I</li>
  <li>Made</li>
  <li>An</li>
  <li>Ordered List</li>
</ol>

<div>
</div>
  <%= Time.now %>
  <div>
  </div>
  <% if @name %>
<p>Hello <%= @name %>
<% end %>

<form>
  <label>Name</label>
  <input type="input" name="name" />

  <input type="submit" />
</form>

<html>
    <head>
        <title>Table Time</title>
    </head>
    
    <body>
        
        <table style="border-collapse:collapse;">
            <thead>
                <tr>
                    <th style="color:red"colspan="2">Famous Monsters by Birth Year</th>
                </tr>
                <tr style="border-bottom:1px solid black;">
                    <th style="padding:5px;"><em>Famous Monster<em></th>
                    <th style="padding:5px;border-left:1px solid black;"><em>Birth Year</em></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding:5px;">King Kong</td>
                    <td style="padding:5px;border-left:1px solid black;">1933</td>     
                </tr>
                
                <tr>
                    <td style="padding:5px;">Dracula</td>
                    <td style="padding:5px;border-left:1px solid black;">1897</td>
                </tr>
                
                <tr>
                    <td style="padding:5px;">Bride of Frankenstein</td>
                    <td style="padding:5px;border-left:1px solid black;">1944</td>
                </tr>
            </tbody>
        </table>
        
    </body>

</html>