<!DOCTYPE html>
<html>
<head>
  <title>FirstSite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  
    <p class="navbar-text navbar-right">Signed in as Tristan</p>
  </div>

    <button type="button" class="btn btn-default">Default</button>
  
  <ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
</ol>
  
  <span class="glyphicon glyphicon-search"></span>
   <div class="navbar navbar-default">
    <a href="/" class="navbar-brand">Durango Ruby</a>

</head>
<body>
  <h1>My first Site</h1>

<%= yield %>
  <div>
  <p>Copyright GitTristan</p>
  </div>
  
</body>
</html>
