<!DOCTYPE html>
<html>
<head>
  <title>FirstSite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>My first Site</h1>

<%= yield %>
  <div>
  <p>Copyright GitTristan</p>
  </div>
  
</body>
</html>
